@import "../vars_and_mixins";

.OptionsMenu {
	width: max(100%, 30vp);
	border: 1px solid black;
	display: block;
}

.hide {
	display: none;
}

.StartGameButton {
	background-color: bisque;
	padding: 0.5em 2em;
	border-radius: 100vh;
	border: none;
}

.ListPlayers {
	list-style: none;
}

.Player {
	display: flex;
}

.PlayerName {
	border: none;
}