@import "vars_and_mixins";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: $primary-font;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black
}

.appcontainer {
  @include typical-flexi;
  min-height: 100vh;
  flex-direction: column;
  background-image: linear-gradient(to bottom right, hsl(60, 56%, 91%), hsl(60, 56%, 76%))
}

.webtitle {
  font-family: $web-title-font;
  font-size: min(4.5rem, 10vw);
}

